<nav class='navbar navbar-default'>
    <div class='container-fluid'>
        <div class='navbar-header'>
            <a class='navbar-brand' href='/'>
                Local Soccer Coach
            </a>
        </div>
        <div class='pull-left'>
            <a href='/coaches/new' class='btn btn-default navbar-btn'>New Coach</a>
        </div>
        <div class='pull-left'>
            <a href='/coaches' class='btn btn-default navbar-btn'>Show Coaches</a>
        </div>
        <div class='pull-left'>
            <a href='/coaches/<coach_id>/edit' class='btn btn-default navbar-btn'>Edit Coaches</a>
        </div>
        <div class='pull-left'>
            <a href='/coaches/<coach_id>/delete' class='btn btn-default navbar-btn'>Delete Coaches</a>
        </div>
        <div class='pull-left'>
            <a href='/fields/new' class='btn btn-default navbar-btn'>New Field</a>
        </div>
        <div class='pull-left'>
            <a href='/fields' class='btn btn-default navbar-btn'>Show Fields</a>
        </div>
        <div class='pull-left'>
            <a href='/field/<field_id>/edit' class='btn btn-default navbar-btn'>Edit Field</a>
        </div>
        <div class='pull-left'>
            <a href='/field/<field_id>/delete' class='btn btn-default navbar-btn'>Delete Field</a>
        </div>
        <div class='pull-left'>
            <a href='/leagues/new' class='btn btn-default navbar-btn'>New League</a>
        </div>
        <div class='pull-left'>
            <a href='/leagues' class='btn btn-default navbar-btn'>Show Leagues</a>
        </div>
        <div class='pull-left'>
            <a href='/leagues/<league_id>/edit' class='btn btn-default navbar-btn'>Edit League</a>
        </div>
        <div class='pull-left'>
            <a href='/leagues/<league_id>/delete' class='btn btn-default navbar-btn'>Delete League</a>
        </div>
        <div class='pull-left'>
            <a href='/search' class='btn btn-default navbar-btn'>Search</a>
        </div>
    </div>
</nav>