<form>
<form action='/coaches/reviews' method='post'>
    <input type='hidden' value='{{ coach._id }}' name='coach_id'/>
    <fieldset>
        <legend>Add a Review</legend>
        <!-- TITLE -->
        <div class='form-group'>
            <label for='review-title'>Title</label><br>
            <input class='form-control'
                id='review-title'
                type='text'
                name='title'
                placeholder='Title'/>
        </div>

        <!-- DESCRIPTION -->
        <div class='form-group'>
            <label for='review-content'>Description</label><br>
            <textarea class='form-control'
                id='review-content'
                name='content'
                rows='10'
                placeholder='Your review...'></textarea>
        </div>
    </fieldset>

    <!-- BUTTON -->
    <div class='form-group'>
        <button class='btn btn-primary' type='submit'>Save Review</button>
    </div>
</form>