{% extends 'base.html' %}

{% block content %}
<a href='/'>Back to Home</a>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        {% for field in allFields %}
            <h3><a href="/field/{{field.id}}">{{ field.name }}</a></h3>

            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Edit / Delete</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="/fields/<field_id>/edit">Edit</a>
                    <a href="/fields/<field_id>/delete">Delete</a>
                    <a href="/field/<field_id>">Show</a>
                </div>
                </div>
        {% endfor %}
        

        

        <hr>

    <!-- Show Reviews -->
    <!-- {% for review in reviews %}
        {% include 'partials/review.html' %}
    {% endfor %} -->
    
    </div>
</div>
{% endblock %}