{% extends 'base.html' %}

{% block content %}
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <form method='POST' action='/leagues/{{league._id}}'>
            <input type='hidden' name='_method' value='PUT'/>
            {% include 'partials/leagues_form.html' %}
            <!-- BUTTON -->
            <div class='form-group'>
                <button class='btn btn-primary' type='submit'>Save League</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

<!-- # db.penguin_items.insertOne({"" : "", "" : "", "" : "", "" : ""}) -->